In [0]:
%run "./00 - Sample DataFrame"

In [0]:
from pyspark.sql.functions import *

In [0]:
help(users_df.filter)

Help on method filter in module pyspark.sql.dataframe:

filter(condition: 'ColumnOrName') -> 'DataFrame' method of pyspark.sql.dataframe.DataFrame instance
    Filters rows using the given condition.

    :func:`where` is an alias for :func:`filter`.

    .. versionadded:: 1.3.0

    .. versionchanged:: 3.4.0
        Supports Spark Connect.

    Parameters
    ----------
    condition : :class:`Column` or str
        A :class:`Column` of :class:`types.BooleanType`
        or a string of SQL expressions.

    Returns
    -------
    :class:`DataFrame`
        A new DataFrame with rows that satisfy the condition.

    Examples
    --------
    >>> df = spark.createDataFrame([
    ...     (2, "Alice", "Math"), (5, "Bob", "Physics"), (7, "Charlie", "Chemistry")],
    ...     schema=["age", "name", "subject"])

    Filter by :class:`Column` instances.

    >>> df.filter(df.age > 3).show()
    +---+-------+---------+
    |age|   name|  subject|
    +---+-------+---------+
    |  5|    Bob|  Physics|
    |  7|Charlie|Chemistry|
    +---+-------+---------+
    >>> df.where(df.age == 2).show()
    +---+-----+-------+
    |age| name|subject|
    +---+-----+-------+
    |  2|Alice|   Math|
    +---+-----+-------+

    Filter by SQL expression in a string.

    >>> df.filter("age > 3").show()
    +---+-------+---------+
    |age|   name|  subject|
    +---+-------+---------+
    |  5|    Bob|  Physics|
    |  7|Charlie|Chemistry|
    +---+-------+---------+
    >>> df.where("age = 2").show()
    +---+-----+-------+
    |age| name|subject|
    +---+-----+-------+
    |  2|Alice|   Math|
    +---+-----+-------+

    Filter by multiple conditions.

    >>> df.filter((df.age > 3) & (df.subject == "Physics")).show()
    +---+----+-------+
    |age|name|subject|
    +---+----+-------+
    |  5| Bob|Physics|
    +---+----+-------+
    >>> df.filter((df.age == 2) | (df.subject == "Chemistry")).show()
    +---+-------+---------+
    |age|   name|  subject|
    +---+-------+---------+
    |  2|  Alice|     Math|
    |  7|Charlie|Chemistry|
    +---+-------+---------+

    Filter by multiple conditions using SQL expression.

    >>> df.filter("age > 3 AND name = 'Bob'").show()
    +---+----+-------+
    |age|name|subject|
    +---+----+-------+
    |  5| Bob|Physics|
    +---+----+-------+

    Filter using the :func:`Column.isin` function.

    >>> df.filter(df.name.isin("Alice", "Bob")).show()
    +---+-----+-------+
    |age| name|subject|
    +---+-----+-------+
    |  2|Alice|   Math|
    |  5|  Bob|Physics|
    +---+-----+-------+

    Filter by a list of values using the :func:`Column.isin` function.

    >>> df.filter(df.subject.isin(["Math", "Physics"])).show()
    +---+-----+-------+
    |age| name|subject|
    +---+-----+-------+
    |  2|Alice|   Math|
    |  5|  Bob|Physics|
    +---+-----+-------+

    Filter using the `~` operator to exclude certain values.

    >>> df.filter(~df.name.isin(["Alice", "Charlie"])).show()
    +---+----+-------+
    |age|name|subject|
    +---+----+-------+
    |  5| Bob|Physics|
    +---+----+-------+

    Filter using the :func:`Column.isNotNull` function.

    >>> df.filter(df.name.isNotNull()).show()
    +---+-------+---------+
    |age|   name|  subject|
    +---+-------+---------+
    |  2|  Alice|     Math|
    |  5|    Bob|  Physics|
    |  7|Charlie|Chemistry|
    +---+-------+---------+

    Filter using the :func:`Column.like` function.

    >>> df.filter(df.name.like("Al%")).show()
    +---+-----+-------+
    |age| name|subject|
    +---+-----+-------+
    |  2|Alice|   Math|
    +---+-----+-------+

    Filter using the :func:`Column.contains` function.

    >>> df.filter(df.name.contains("i")).show()
    +---+-------+---------+
    |age|   name|  subject|
    +---+-------+---------+
    |  2|  Alice|     Math|
    |  7|Charlie|Chemistry|
    +---+-------+---------+

    Filter using the :func:`Column.between` function.

    >>> df.filter(df.age.between(2, 5)).show()
    +---+-----+-------+
    |age| name|subject|
    +---+-----+-------+
    |  2|Alice|   Math|
    |  5|  Bob|Physics|
    +---+-----+-------+

+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|       Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|  male|      Houston|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|female|             |{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|  male|San Fransisco|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|         NULL|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:18|
+---+----------+------------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
# Typical way to filter

users_df.filter(col('id') >= 3).show()

+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|last_name|               email|gender| current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  3|    Orelie|   Penney|openney2@vistapri...|female|             |{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby| Maddocks|  amaddocks3@home.pl|  male|San Fransisco|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      Kurt|     Rome|krome4@shutterfly...|female|         NULL|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:18|
+---+----------+---------+--------------------+------+-------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
# We can also use where() function which is the same.
# WE can also provide more SQL-like format as a string.

users_df.filter("current_city = 'Dallas' OR current_city IS NULL").show()

+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|gender|current_city|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|  male|      Dallas|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  5|      Kurt|        Rome|krome4@shutterfly...|female|        NULL|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:18|
+---+----------+------------+--------------------+------+------------+--------------------+-------+-----------+-----------+-------------+-------------------+