In [0]:
%run "./01 - Preparing dataFrame"

In [0]:
from pyspark.sql.functions import *

+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
| id|first_name|   last_name|               email|       phone_numbers|courses|is_customer|amount_paid|customer_from|    last_updated_ts|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+
|  1|    Corrie|Van den Oord|cvandenoord0@etsy...|{+1 234 567 8901,...| [1, 2]|       true|    1000.55|   2021-01-15|2021-02-10 01:15:00|
|  2|  Nikolaus|     Brewitt|nbrewitt1@dailyma...|{+1 234 567 8923,...|    [3]|       true|      900.0|   2021-02-14|2021-02-18 03:33:00|
|  3|    Orelie|      Penney|openney2@vistapri...|{+1 714 512 9752,...| [2, 4]|       true|     850.55|   2021-01-21|2021-03-15 15:16:55|
|  4|     Ashby|    Maddocks|  amaddocks3@home.pl|        {NULL, NULL}|     []|      false|        NaN|         NULL|2021-04-10 17:45:30|
|  5|      Kurt|        Rome|krome4@shutterfly...|{+1 817 934 7142,...|     []|      false|        NaN|         NULL|2021-04-02 00:55:18|
+---+----------+------------+--------------------+--------------------+-------+-----------+-----------+-------------+-------------------+

In [0]:
# Adding value to a column is quite obvious in .selectExpr():

users_df.selectExpr('id', 'amount_paid + 25').show()

+---+------------------+
| id|(amount_paid + 25)|
+---+------------------+
|  1|           1025.55|
|  2|             925.0|
|  3|            875.55|
|  4|               NaN|
|  5|               NaN|
+---+------------------+

In [0]:
# But it becames a bit trickier when it comes to simple .select(). These options don't work:

users_df.select('id', 'amount_paid + 25')  # There is no such column
users_df.select('id', 'amount_paid' + 25)  # Can't add int to a string

In [0]:
# We have to use lit() function which creates a Column of literal value.

users_df.select('id', col('amount_paid') + lit(25)).show()

+---+------------------+
| id|(amount_paid + 25)|
+---+------------------+
|  1|           1025.55|
|  2|             925.0|
|  3|            875.55|
|  4|               NaN|
|  5|               NaN|
+---+------------------+

In [0]:
lit(2)

Column<'2'>