In [0]:
%run "./01 - Preparing dataFrame"

In [0]:
from pyspark.sql.functions import *

In [0]:
# DIFFERENT WAYS OF SELECTING COLUMNS

# .select()
users_df.select('*')
users_df.select('id', 'first_name', 'last_name')
users_df.select(col('id'), concat(col('first_name'), lit(', '), col('last_name')).alias('full_name'))

# .selectExpr() - it's just like .select() but you can use SQL expressions
users_df.selectExpr('id', "CONCAT(first_name, ', ', last_name) AS full_name")

# spark.sql() - typical SQL query
spark.sql("""
    SELECT
        id,
        CONCAT(first_name, ', ', last_name) AS full_name
    FROM
        users
""")

In [0]:
# lit() - creates a Column of literal value.
# Allows us to modify values of a column in .select()

users_df.select('id', col('amount_paid') + lit(25)).show()

In [0]:
# RENAMING COLUNNS

# On top of a data frame:
#   .withColumn(col_name, expression)
#   .withColumnRenamed(old_col_name, new_col_name)
#   .toDF(*new_col_names)

# Inside a data frame:
#   col().alias(new_col_name)

# E.x.
users_df \
    .select('id', 'first_name', 'last_name') \
    .withColumn('full_name', concat(col('first_name'), lit(', '), col('last_name'))) \
    .show()